* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#header {
	padding-top: 5px;
}

#sidebar {
	position: absolute;
	left: 10px;
	top: 70px;
	bottom: 20px;
	width: 260px;
	border:solid 1px #CCCCCC;
	overflow-y: scroll;
}

#content {
    position: absolute;
   	top: 70px;
   	bottom: 20px;
   	left:300px;
   	right:20px;
}

.form-left-col {
	width:310px;
    float: left;
}

.form-right-col {
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

li a { 
	text-decoration:none;
	display: block;
	color: #000000;
	border-bottom:solid 1px #CCCCCC;
	padding: 8px;
}

li a:hover {
	background-color: #4B0A1E;
	color: #BA8A92;
}

input, textarea {
  border:1px solid #ccc;
  min-height:30px;
  outline: none;
}

.form-left-col input {
  margin-bottom:15px;
  margin-top:5px;
  width:280px;
}

textarea {
	margin-bottom:15px;
  	margin-top:5px;
	height: 200px;
  	width:250px;
}

label {
	display:block;
}

button {
	padding:6px;
}

.nav.myMenu li ul {
	position:absolute;
	visibility:hidden;
	border-top:1px solid #fff;
	margin:0;
	padding:0;
}

.nav.myMenu li ul li {
	color:white;
	display:inline;
	float:none;
}

.nav.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:grey;
	width:auto;
}

.nav.myMenu li ul li a:hover {
	background-color:black;	
}

.group-box {
    width:100%;
    height:150px;
    border-bottom-style:ridge;
    border-bottom-color:lightgrey;
    border-width: 2px;
}

.group-img {
    padding-top:5px;
    float:left;
    height:130px;
    width:210px;
}

.group-info {
    float:left;
}

.group-name {
    font-size:25px;
    padding-left:15px;
    font-weight:bolder;
    padding-top:15px;
}

.group-category {
    color:skyblue;
    padding-top:40px;
    padding-left:15px;
}

.group-leader {
    color:skyblue;
    padding-top:5px;
    padding-left:15px;
}

.group-member {
    color:skyblue;
    padding-top:5px;
    padding-left:15px;
}

.group-create {
    float:right;
    padding-right:15px;
    padding-top:15px;
    color:lightgrey;
}

.group-event{
    font-color:lightgrey;
    border-bottom:solid;
    border-color:grey;
}

.see-all{
    float:right;
    color:lightgrey;
    font-weight:bolder;
}

.group-event{
    border-bottom-style:solid;
    border-color:grey;
    border-width:2px;

}

.event-head{
    font-weight:bolder;
}

.group-event-date{

    padding-top:10px;
    border-bottom:solid;
    border-color:lightgrey;
    border-width:1px;

}

.group-event-schedule{
    font-size:26px;
    float:left;
    font-weight:bolder;
    border:ridge;
    padding:15px 25px 15px 25px;
    background-color:lightgrey;
}
.group-event-clubname{
    font-size:15px;
    color:skyblue;
    font-weight:bolder;
    padding-left:120px;
}

.group-event-type{
    padding-left:120px;
    font-weight:bold;
    color:grey;
}

.group-event-time{
    padding-left:120px;
    padding-top:15px;
    color:grey;
}

.addition-li{
    padding-bottom:10px;
    border-bottom:solid;
    border-color:lightgrey;
    color:grey;
    padding-left:180px;
}

.Suggestion{
    padding-top:10px;
    color:grey;
    font-weight:bolder;
    border-bottom:solid;
    border-width:1px;
    border-color:lightgrey;
}

.group-image-suggestion{
    height:40%;
    width:40%;
    padding-top:10px;
    float:left;
}

.group-name-suggest{
    font-size:20px;
    padding-left:180px;
    font-weight:bolder;
    padding-top:15px;
    padding-bottom:87px;
}

.group-suggest{
    border-bottom:ridge;
    border-color:lightgrey;
    border-width:1px;
}