* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#header {
	padding-top: 5px;
}

#sidebar {
	position: absolute;
	left: 10px;
	top: 70px;
	bottom: 20px;
	width: 260px;
	border:solid 1px #CCCCCC;
	overflow-y: scroll;
}

#content {
    position: absolute;
   	top: 70px;
   	bottom: 20px;
   	left:300px;
   	right:20px;
    padding-top: 100px;
}
#content-body {
    padding-top: 20px;
}

.form-left-col {
	width:310px;
    float: left;
}

.form-right-col {
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

/*li a {*/
	/*text-decoration:none;*/
	/*display: block;*/
	/*color: #000000;*/
	/*border-bottom:solid 1px #CCCCCC;*/
	/*padding: 8px;*/
/*}*/

/*li a:hover {*/
	/*background-color: #4B0A1E;*/
	/*color: #BA8A92;*/
/*}*/

input, textarea {
  border:1px solid #ccc;
  min-height:30px;
  outline: none;
}

.form-left-col input {
  margin-bottom:15px;
  margin-top:5px;
  width:280px;
}

textarea {
	margin-bottom:15px;
  	margin-top:5px;
	height: 200px;
  	width:250px;
}

label {
	display:block;
}

button {
	padding:6px;
}

/*.nav.myMenu li ul {*/
	/*position:absolute;*/
	/*visibility:hidden;*/
	/*border-top:1px solid #fff;*/
	/*margin:0;*/
	/*padding:0;*/
/*}*/

/*.nav.myMenu li ul li {*/
	/*color:white;*/
	/*display:inline;*/
	/*float:none;*/
/*}*/

/*.nav.myMenu li ul li a:link, .myMenu li ul li a:visited {*/
	/*background-color:grey;*/
	/*width:auto;*/
/*}*/

/*.nav.myMenu li ul li a:hover {*/
	/*background-color:black;	*/
/*}*/

.group-box {
    width:100%;
    height:100px;
    border-bottom-style:ridge;
    border-bottom-color:lightgrey;
    border-width: 2px;
}

.group-img {
    /*padding-top:5px;*/
    float:left;
    height:100px;
    width:150px;
}
.group-content {
    width:380px;
    float: right;
}

.group-info {
    float:left;
}

.group-create {
    float:right;
    padding-right:5px;
    padding-top:5px;
    color:lightgrey;
    font-size:13px;
}

.group-name {
    font-size:15px;
    padding-left:15px;
    font-weight:bolder;
}

.group-category {
    font-size:13px;
    color:skyblue;
    padding-left:15px;
}

.group-leader {
    font-size:13px;
    color:skyblue;
    padding-left:15px;
}

.group-member {
    font-size:13px;
    color:skyblue;
    padding-left:15px;
}


.group-event{
    font-color:lightgrey;
    border-bottom:solid;
    border-color:grey;
}

.see-all{
    float:right;
    color:lightgrey;
    font-weight:bolder;
}

.group-event{
    border-bottom-style:solid;
    border-color:grey;
    border-width:2px;

}

.event-head{
    font-weight:bolder;
}

.group-event-date{

    padding-top:10px;
    border-bottom:solid;
    border-color:lightgrey;
    border-width:1px;

}

.group-event-schedule{
    font-size:26px;
    float:left;
    font-weight:bolder;
    border:ridge;
    padding:15px 25px 15px 25px;
    background-color:lightgrey;
}
.group-event-clubname{
    font-size:15px;
    color:skyblue;
    font-weight:bolder;
    padding-left:120px;
}

.group-event-type{
    padding-left:120px;
    font-weight:bold;
    color:grey;
}

.group-event-time{
    padding-left:120px;
    padding-top:15px;
    color:grey;
}

.addition-li{
    padding-bottom:10px;
    border-bottom:solid;
    border-color:lightgrey;
    color:grey;
    padding-left:180px;
}

.Suggestion{
    padding-top:10px;
    color:grey;
    font-weight:bolder;
    border-bottom:solid;
    border-width:1px;
    border-color:lightgrey;
}

.group-image-suggestion{
    height:40%;
    width:40%;
    padding-top:10px;
    float:left;
}

.group-name-suggest{
    font-size:20px;
    padding-left:180px;
    font-weight:bolder;
    padding-top:15px;
    padding-bottom:87px;
}

.group-suggest{
    border-bottom:ridge;
    border-color:lightgrey;
    border-width:1px;
}
#group-sort {
    width:250px;
    float: right;
    font-size: 14px;
    /*padding-bottom: 10px;*/
}
#group-sort a {
    position: relative;
    bottom: 6px;
    height: 24px;
}
#group-sort i {
    padding-top: 3px;
}
#group-navigation {
    font-size: 14px;
    float: left;
}
.left-nav-title {
    padding-top: 30px;
    padding-bottom: 5px;
    text-decoration:underline;
    font-weight:bold;
    font-size: 15px;
}
.left-nav-list div {
    font-size: 14px;
}
#group-content-header {
    width:100%;
    height:35px;
    border-bottom-style:ridge;
    border-bottom-color:lightgrey;
    border-width: 1px;
}
#top-category-nav {
    border-bottom-style:solid;
    border-bottom-color:lightgrey;
    border-top-style:ridge;
    border-top-color:lightgrey;
    border-width: 1px;
    /*background-color:#dddddd;*/
}
#top-category-nav ul{
    height:70px;
    font-size: 5px;
    list-style-type:none;
    margin:0;
    padding:0;
}
#top-category-nav ul li{
    /*display:inline;*/
    float: left;
}
#top-category-nav ul li a{
    display:block;
    width:100px;
    font-size: 13px;
    text-align: center;
}
.top-category ul {
    visibility:hidden;
    list-style-type: none;
}
/*.sub-category li a {*/
    /*width:50px;*/
   /**/
/*}*/
.category-dropdown {
    display: none;
}